<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="../../product.css" />
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if (prods.length) { %>
        <h1>All Products</h1>
      <div class="grid">
        <% prods.forEach(prod =>  { %>
        <article class="card product-item">
          <div class="card__image">
            <!-- image -->
            <img src=<%= prod.imageUrl %> alt="product display">
          </div>
          <h1 class="product__title"> <%= prod.name %></h1>
          <div class="card__content">
            <span class="product__price">$<%= prod.price %></span>
            <p class="product__description"><%= prod.description %></p>
            <div class="card__actions">
              <a href="/products/<%= prod.id %>" class="btn">Details</a>
              <form action="/cart" method="POST">
                <input type="hidden" name="productId" value="<%= prod.id %>">
                <button class="btn" type="submit">ADD TO CART</button>
              </form>
            </div>
          </div>
        </article>
        <% }) %> 
      </div>
    <% } else { %> 
      <h1> No Products Found </h1>  
      <% } %> 
    </main>
<%- include('../includes/end.ejs') %>